body{
	background-color: #9cad94;
}
.main{
	width: 80%;
	margin: auto;
	padding: 10px;

	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 2px 2px 8px black;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.item{
	width: 47%;
	height: 380px;
	margin:5px;
	background-size: cover;
transition: 0.5s;
	border-radius: 15px;
	opacity: 0.3;
}
.item:hover{
	box-shadow: 1px 1px 6px black;
	opacity: 1;
	transition: 1s;
	transform: scale(1.5);
}


/*картинки*/
.img1{
	background-image: url(img/1.jpg);
}
.img2{
	background-image: url(img/2.jpg);	
}
.img3{
	background-image: url(img/3.jpg);
}
.img4{
	background-image: url(img/4.jpg);
}
.img5{
	background-image: url(img/5.jpeg);
}
.img6{
	background-image: url(img/6.jpg);
}
.img7{
	background-image: url(img/7.jpg);
}
.img8{
	background-image: url(img/8.jpg);
}
